
{% extends 'base.html' %}
{% load static %}
{% block content %}



    <!-- header -->
    <div id="header">
        <!-- Swiper -->
        <div class="swiper headerswiper">
            <div class="swiper-wrapper">
                {% for item in slider %}
                <!-- 1 -->
                <div class="swiper-slide">
                    <div class="box" style="background: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .4)), url({{item.image.url}}) no-repeat center top / cover fixed;">
                        <div class="container">
                            <div class="text">
                                <h1>{{item.title}}</h1>
                                <p>{{item.about|safe}}</p>
                                <a href="{% url 'common:products' %}" class="button-1">Batafsil</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination d-lg-none"></div>
        </div>
    </div>

    <!-- Products -->
    <div id="products">
        <div class="container">
            <!-- title -->
            <h2>Mahsulotlarimiz</h2>
            <!-- content -->
            <div class="products-content">
                <!-- swiper -->
                <div class="swiper-container swiperProducts">
                    <div class="swiper-wrapper">
                        <!-- 1 -->
                        <div class="swiper-slide">
                            <div class="card">
                                <div class="img-box">
                                    <img class="card-img-top" src="{% static 'images/swiper/bibikon.jpg' %}" alt="bibikon">
                                </div>
                                <div class="card-body">
                                    <div class="text">
                                        <h3>Bibikon-minokarnitin</h3>
                                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, culpa
                                            maiores eum ducimus ratione impedit! Lorem ipsum dolor, sit amet consectetur
                                            adipisicing elit. Rem commodi dolorem corporis non doloremque voluptas
                                            consectetur voluptates, inventore iste. Rem cumque ducimus maiores libero?
                                        </p>
                                    </div>
                                    <a href="#">Batafsil</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- swiper end -->
            </div>
            <!-- button -->
            <div class="text-end mt-5">
                <a class="button-1" href="{% url 'common:products' %}">Barchasini ko'rish</a>
            </div>
            <!-- button end -->
        </div>
    </div>

    <!-- About Us -->
    <div id="about-us">
        <div class="container">
            <!-- row -->
            <div class="row align-items-center">
                <!-- 1 -->
                <div class="col-12 col-xl-6">
                    <div class="box mb-4">
                        <h3>Minor Art Industry Pharmaceutical</h3>
                        <p><span>Minor Art Industry Pharmaceutical</span> kompaniyasi 2020 yilda tashkil etilgan bo'lib,
                            O'zbekiston davlatining farmatsevtika bozoridagi jadal ravishda rivojlanayotgan
                            kompaniyalardan biri hisoblanadi.</p>
                        <p> <span>Minor Art Industry Pharmaceutical</span> biologik faol qo'shimchalarni (BFQ) ishlab
                            chiqarishda mahalliy farmasevtika va nutrisevtika bozorining yetakchilaridan biri
                            hisoblanib, iste'molchilarning sog'lig'iga va talablariga javob beradigan zamonaviy, sifatli
                            va arzon ozuqaviy qo'shimchalarni yetkazib berishda faol hizmat ko'rsatib kelmoqda. ISO
                            22000 va ISO 9001 (International Organization for Standardization - Xalqaro
                            Standartlashtirish Tashkiloti) standartlari esa Kompaniya uchun keng qamrovda yuqori sifatli
                            biologik faol qo'shimchalar ishlab chiqarish imkonini bermoqda. </p>
                    </div>
                </div>
                <!-- 2 -->
                <div class="col-12 col-xl-6 mb-3 mb-xl-0">
                    <img src="{% static 'images/about-us/laboratory.jpg' %}" alt="minor art industry pharmaceutical" class="w-100">
                </div>
            </div>
            <div class="text-xl-end mt-4">
                <a href="{% url 'common:about-us' %}" class="button-1">Batafsil</a>
            </div>
        </div>
    </div>


    <!-- news -->
    <div id="products">
        <div class="container">
            <!-- title -->
            <h2>Yangiliklar</h2>
            <!-- content -->
            <div class="products-content">
                <!-- swiper -->
                <div class="swiper-container swiperNews">
                    <div class="swiper-wrapper">
                        <!-- 1 -->
                        <div class="swiper-slide">
                            <div class="card">
                                <div class="img-box">
                                    <img class="card-img-top" src="{% static 'images/swiper/bibikon.jpg' %}" alt="bibikon">
                                </div>
                                <div class="card-body">
                                    <div class="text">
                                        <h3>Bibikon-minokarnitin</h3>
                                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, culpa
                                            maiores eum ducimus ratione impedit! Lorem ipsum dolor, sit amet consectetur
                                            adipisicing elit. Rem commodi dolorem corporis non doloremque voluptas
                                            consectetur voluptates, inventore iste. Rem cumque ducimus maiores libero?
                                        </p>
                                    </div>
                                    <a href="#">Batafsil</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- swiper end -->
            </div>
            <!-- button -->
            <div class="text-end mt-5">
                <a class="button-1" href="{% url 'common:news' %}">Barchasini ko'rish</a>
            </div>
            <!-- button end -->
        </div>
    </div>







{% endblock %}
