{% extends 'base.html' %}
{% load static %}
{% block content %}




    <!-- news-page-content -->
    <div id="news-page-content">
        <div class="container">
            <!-- content -->
            <div class="row gy-5">

                {% for item in left %}
                <!-- 1, left-side -->
                <div class="col-12 col-xl-7">
                    <!-- left -->
                    <div class="row gy-5">
                        <!-- 1.1 -->
                        <div class="col-12 col-sm-6">
                            <a href="{% url 'common:news-detail' item.slug %}">
                                <div class="one-card">
                                    <img class="w-100" src="{{item.main_image.url}}"
                                        alt="minor art industry pharmaceutical">
                                    <div class="one-card-body">
                                        <h3>{{item.title}}</h3>
                                        <span class="sana">{{item.date}}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}

                {% for item in right %}
                <!-- 2, right-side -->
                <div class="col-12 col-xl-5">
                    <!-- right -->
                    <div class="many-cards">
                        <div class="row">
                            <div class="col-12 col-lg-6 col-xl-12">
                                <!-- 2 -->
                                <a href="{% url 'common:news-detail' item.slug %}">
                                    <div class="box">
                                        <div class="img-box">
                                            <img class="" src="{{item.main_image.url}}" alt="minor art industry pharmaceutical">
                                        </div>
                                        <div class="text-box">
                                            <h3>{{item.title}}</h3>
                                            <p class="sana">{{item.date}}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                 {% endfor %}

            </div>
        </div>
    </div>





{% endblock %}
