{% extends 'base.html' %}
{% load static %}
{% block content %}






    
    <!-- products-content will be here -->
    <div id="products-page-content">
        <div class="container">
            <div class="row">
                <!-- 1 -->
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="card">
                        <div class="img-box">
                            <img class="card-img-top" src="{% static 'images/swiper/bibikon.jpg' %}" alt="minor art industry pharmaceutical | Bibikon">
                        </div>
                        <div class="card-body">
                            <div class="text">
                                <h3>Bibikon-minokarnitin</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, culpa
                                    maiores eum ducimus ratione impedit! Lorem ipsum dolor, sit amet consectetur
                                    adipisicing elit. Rem commodi dolorem corporis non doloremque voluptas
                                    consectetur voluptates, inventore iste. Rem cumque ducimus maiores libero?</p>
                            </div>
                            <a href="{% url 'common:product-detail' %}">Batafsil</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>









{% endblock %}
