{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    padding-bottom:20px;
}

.page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    background-color: #f1f1f1;
    transition: 0.3s ease;
}

.page-link:hover {
    background-color: #65e0a7;
    color: white;
}

.page-link.active {
    background-color: #0f804c;
    color: white;
    pointer-events: none;
}

.page-link.prev, .page-link.next {
    font-size: 20px;
    background-color: transparent;
    color: #007bff;
    border: none;
}

.page-link.prev:hover, .page-link.next:hover {
    color: #0056b3;
}
</style>



    
    <!-- products-content will be here -->
    <div id="products-page-content">
        <div class="container">
            <div class="row">
                <!-- 1 -->
                {% for item in products %}
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="card">
                        <div class="img-box">
                            <img class="card-img-top" src="{{item.main_image.url}}" alt="minor art industry pharmaceutical | Bibikon">
                        </div>
                        <div class="card-body">
                            <div class="text">
                                <h3>{{item.name}}</h3>
                                <p>{{item.description}}</p>
                            </div>
                            <a href="{% url 'common:product-detail' item.slug  %}">Batafsil</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

{% if products.has_other_pages %}
    <div class="pagination">
        {% if products.has_previous %}
            <a href="?page={{ products.previous_page_number }}" class="page-link prev">&#8249;</a>
        {% endif %}

        {% for num in products.paginator.page_range %}
            {% if products.number == num %}
                <span class="page-link active">{{ num }}</span>
            {% elif num >= products.number|add:-1 and num <= products.number|add:1 %}
                <a href="?page={{ num }}" class="page-link">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}" class="page-link next">&#8250;</a>
        {% endif %}
    </div>
{% endif %}







{% endblock %}
